<template>
  <div id="app">
    <div class="image">
      <img alt="Vue logo" src="./assets/logo.png" />
    </div>

    <div class="actions">
      <button @click="connect">Connect</button>
    </div>
  </div>
</template>

<script>
import Torus from "@toruslabs/torus-embed";
import Portis from "@portis/web3";
import Authereum from "authereum";
import BurnerConnectProvider from "@burner-wallet/burner-connect-provider";
import MewConnect from "@myetherwallet/mewconnect-web-client";

let web3Modal;

export default {
  name: "App",
  methods: {
    connect() {
      web3Modal.connect();
    },
  },
  beforeMount() {
    setTimeout(() => {
      const Web3Modal = window.Web3Modal.default;
      const WalletConnectProvider = window.WalletConnectProvider.default;
      const Fortmatic = window.Fortmatic;

      const providerOptions = {
        walletconnect: {
          package: WalletConnectProvider,
          options: {
            infuraId: "48f773a308fc1c27da569327dd106970",
          },
        },

        fortmatic: {
          package: Fortmatic,
          options: {
            key: "pk_test_BA18EEEFE1DC3653",
          },
        },

        portis: {
          package: Portis,
          options: {
            id: "06b543df-6fbc-4342-a78e-b539e2495531",
          },
        },

        authereum: {
          package: Authereum,
        },

        // torus: {
        //   package: Torus,
        //   options: {
        //     config: {
        //       buildEnv: "development", // optional
        //     },
        //   },
        // },

        burnerconnect: {
          package: BurnerConnectProvider,
          options: {
            defaultNetwork: "100",
          },
        },

        mewconnect: {
          package: MewConnect,
          options: {
            infuraId: "48f773a308fc1c27da569327dd106970",
          },
        },
      };

      web3Modal = new Web3Modal({
        cacheProvider: false,
        providerOptions,
        disableInjectedProvider: false,
      });
    }, 1500);
  },
};
</script>

<style lang="scss">
.web3modal-modal-lightbox {
  backdrop-filter: blur(10px);
}

.web3modal-modal-card {
  display: grid;
  grid-template-rows: repeat(auto-fit, 70px);
  grid-template-columns: 1fr !important;
  grid-gap: 15px;
  background: rgba(255, 255, 255, 0.25) !important;
  position: relative;

  &::before {
    content: "Choose provider";
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 60px;
  }

  padding: 40px 30px !important;

  width: 400px !important;

  .web3modal-provider-wrapper {
    border: none;
    padding: 0 !important;
    background: transparent !important;
    margin: 0 !important;
    display: block !important;
    border-radius: 12px;
  }

  .web3modal-provider-container {
    background: rgba(255, 255, 255, 0.1);
    border: none !important;
    outline: none !important;
    margin: 0 !important;
    padding: 0 15px !important;
    height: 100%;

    display: grid !important;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease;

    .web3modal-provider-icon {
      order: 1;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .web3modal-provider-name {
      font-size: 16px;
      padding: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2) !important;
      transform: scale(1.02);
    }
  }

  .web3modal-provider-name {
    color: #fff;
  }

  .web3modal-provider-description {
    display: none;
  }
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto;
  background: #252423;

  .actions {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;

    button {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 500;
      border-radius: 12px;

      height: 80px;
      width: 250px;

      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;

      &:hover {
        transform: scale(1.01);
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);

    img {
      height: 100%;
    }
  }
}
</style>
